################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/WebApplication1
/Test/.vs/ProjectEvaluation
/Test/bin/Debug
/Test/obj
